* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  height: 55em;
}

div {
  width: 21%;
  height: 30%;
}

.pictures {
  background-image: url(pictures/cotePile.jpg);
  background-size: cover;
  border: 1px black double;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 2s;
}
.pictures:hover {
  filter: grayscale(0);
}

img {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
}

#btn {
  width: 55%;
}

#modeDarkOrLight {
  flex-grow: 1;
  margin-left: 40px;
}

.origine {
  transition: transform, 500ms;
  transform: rotateY(0deg);
}

.rotate {
  transition: transform, 500ms;
  transform: rotateY(720deg);
}

#light {
  background-color: white;
  border: none;
  width: 5em;
}

.light {
  width: 6em;
  border: 2px solid black;
  border-radius: 5em;
  background-color: #fae56e;
  color: #080808;
}

.dark {
  border: 2px solid #36fa57;
  border-radius: 5em;
  background-color: #01012c;
  color: white;
}

.bodyDark {
  transition-duration: 200ms;
  background-color: #000000;
  border: 5px solid #36fa57;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#container div {
  width: 21%;
  height: 15%;
}

img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */